<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xust.sims.dao.AcademyMapper">

    <sql id="academyBaseInfoCols">
        id, name
    </sql>

    <resultMap id="academyBaseInfoMap" type="Academy">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <resultMap id="academyInfoDetails" type="Academy">
        <id column="id" property="id"/>
        <result column="name" property="name"/>

        <collection column="id" property="majors" fetchType="eager"
                    select="com.xust.sims.dao.MajorMapper.findMajorsDetails"/>
    </resultMap>

    <select id="findAcademyBaseInfoById" resultMap="academyBaseInfoMap">
        SELECT <include refid="academyBaseInfoCols"/>
        FROM academy
        WHERE id = #{id}
    </select>

    <select id="findAllAcademyInfo" resultType="academy">
        SELECT <include refid="academyBaseInfoCols"/>
        FROM academy
    </select>

    <select id="findAcademyByMajorId" resultType="academy">
        SELECT <include refid="academyBaseInfoCols"/>
        FROM academy
        WHERE id = (
        	SELECT academyId
        	FROM academy_major
        	WHERE majorId = #{majorId}
        )
    </select>

    <select id="findAcademyIdByName" resultType="java.lang.Integer">
        SELECT id
        FROM academy
        WHERE name = #{academyName}
    </select>

    <select id="findAcademyAllInfoDetails" resultMap="academyInfoDetails">
        SELECT <include refid="academyBaseInfoCols"/>
        FROM academy
    </select>
</mapper>